<!DOCTYPE HTML>

<html ng-app="KEYS">
	<head>
		<title> CADASTRO </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        
        <!-- Scripts -->
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
        
        <!-- Angular -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-route.min.js"></script>
        <script src="js/lib/angular-sanitize.min.js"></script>        
        
        <!-- JQuery -->
        <script src="js/lib/jquery.min.js"></script>

        <!-- App -->
        <script src="js/app.js"></script>
        <script src="js/router/router.js"></script>
        
        <!-- Controller -->
        <script src="js/controller/KEYSController.js"></script>

        <!-- Service -->
        <script src="js/service/KEYSService.js"></script>
	</head>
	<body ng-controller="KEYSController">

		<!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1><a href="index.html">KEYS</a></h1>
				<nav>
				    <a href="#menu">Menu</a>
				</nav>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <div class="inner">
                    <h2>Menu</h2>
                    <ul class="links">
                        <li><a href="index.html">Início</a></li>
                        <li><a href="detalhes.html">Detalhes</a></li>
						<!--	<li><a href="#">Login</a></li> -->
                        <li><a href="#">Cadastrar</a></li>
                    </ul>
                    <a href="#" class="fechar">Fechar</a>
                </div>
            </nav>
            
            <!-- Wrapper -->
            <section id="wrapper">
                <header>
                    <div class="inner">
                        <h2>CADASTRO</h2>
                        <p>Cadastre-se para começar o trabalho.</p>
                    </div>
                </header>
            </section>               
                
            <section>
                <form method="post" action="#">
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <label for="demo-name">Nome</label>
                            <input type="text" ng-model="adm.nome" name="demo-name" id="demo-name" value="" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <label for="demo-email">Email</label>
                            <input type="email" ng-model="adm.email" name="demo-email" id="demo-email" value="" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <label for="demo-email">Número de Identificação</label>
                            <input type="text" ng-model="adm.id" name="id" id="id" value="" />
                        </div>
                        <div class="12u$">
                            <label for="demo-category">Função</label>
                            <div class="select-wrapper">
                                <select name="funcao" id="funcao">
                                    <option value="">-</option>
                                    <option value="1">Adiministradora</option>
                                    <option value="1">Serviços Gerais</option>
                                    <option value="1">Secretaria</option>
                                </select>
                            </div>
                        </div>
                                                
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="terceirizada" name="terceirizada" checked>
                            <label for="demo-human">Terceirizada</label>
                        </div>
										
                        <div class="6u 12u$(small)">
                            <input type="checkbox" id="demo-copy" name="demo-copy" checked>
                            <label for="demo-copy">Me manda email com novidades</label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="demo-human" name="demo-human" >
                            <label for="demo-human">Não sou um robô</label>
                        </div>
                        
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Cadastrar" ng-click="adicionaAdm()" class="special" /></li>
                                <li><input type="reset" value="Limpar" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
            
            <!-- Footer -->
                <section id="footer">
                    <div class="inner">
                        <ul class="copyright">
                            <li>&copy; RYM Inc.</li>
				        </ul>
				    </div>
				</section>
            
        </div>
	</body>
</html>